.home__msg {
    text-align: center;
    margin-top: 100px;
}

.upload__img:hover{
    animation: none;
}

.user__option__item {
    margin-left: auto;
    margin-right: auto;
}

.user__option {
    user-select: none;
}

.user__option__item input {
    height: 25px;
}