.Navbar {
    width: 100%;
    height: fit-content;
    background-color:#333;
    padding: 10px;
    position:relative;
}

.Navbar__container{
    display: flex;
    justify-content: center;
}

.Navbar__container ul li {
  list-style-type: none;
  display:inline;
  margin: 20px;
}

.Navbar__item {  
    font-size: 28px;
    text-decoration: none;
    padding: 10px;
}

.Navbar__item {
    color: #fff;
}

.Navbar__item:hover {
    text-transform: uppercase;
  }

.dot {
    position:sticky;
    height: 25px;
    width: 25px;
    background-color: #111;
    border-radius: 50%;
    display: flex;
    margin-top: -8px;
    margin-left: 43vw;
  }